;==============================================================================
; BARE BONES
; SKELETON Version 3.2.1
; Copyright 2000-2007 Wayne J. Radburn
;
; Compiles with Jeremy Gordon's GoRC resource compiler as follows:
;	   GoRC /r Bones.rc
;==============================================================================

#define	IDI_ICON		0x1L
#define	IDM_MENU	0x1L
#define	IDD_ABOUT	0x1L

#define	IDM_FILEMENU	0x20
#define	IDM_HELPMENU	0x21

#define	IDM_EXIT	0x22

#define	IDM_HELPTOPICS		0x23
#define	IDM_ABOUT		0x24

IDI_ICON ICON "Bones.ico"

1 MANIFEST "Bones.exe.manifest"

IDM_MENU MENUEX
BEGIN
	POPUP "&File"
	BEGIN
		MENUITEM "E&xit", IDM_EXIT
	END

	POPUP "&Help"
	BEGIN
		MENUITEM "&Help Topics", IDM_HELPTOPICS
		MENUITEM SEPARATOR
		MENUITEM "&About Bones", IDM_ABOUT
	END
END

IDD_ABOUT DIALOG 0, 0, 180, 90
STYLE DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_SYSMENU | WS_POPUP
FONT 8,"Arial"
CAPTION "About Bones"
BEGIN
	ICON	IDI_ICON, -1, 8, 8, 0, 0

	DEFPUSHBUTTON	"OK", IDOK, 112, 68, 60, 14

	CTEXT	"BARE BONES", -1, 48, 8, 84, 8
	CTEXT	"SKELETON Version 3.2.1", -1, 48, 18, 84, 8

	CTEXT	"Assembly Language Programming", -1, 8, 34, 164, 8
	CTEXT	"Copyright \251 2000-2007 Wayne J. Radburn", -1, 8, 44, 164, 8
	CTEXT	"All Rights Reserved", -1, 8, 54, 164, 8
END

1 VERSIONINFO
FILEVERSION	3,2,1,0
PRODUCTVERSION	3,2,1,0
FILEFLAGSMASK	0x0000003FL
FILEFLAGS	0x00000000L
FILEOS	0x00000004L
FILETYPE	0x00000001L
FILESUBTYPE	0x00000000L
BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "040904E4"
		BEGIN
			VALUE "CompanyName", "Wayne J. Radburn\0"
			VALUE "FileDescription", "BARE BONES Skeleton\0"
			VALUE "FileVersion", "3.2.1\0"
			VALUE "InternalName", "Bones\0"
			VALUE "LegalCopyright", "Copyright\251 2000-2007 Wayne J. Radburn\0"
			VALUE "OriginalFilename", "Bones.exe\0"
			VALUE "ProductName", "Skeleton\0"
			VALUE "ProductVersion", "3.2.1\0"
		END
	END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x0409, 1252
	END
END